.Product {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    border-radius: 10px;


    img {
        height: 180px;
        width: 100%;
        object-fit: cover;
        display: flex;
        flex-direction: column;
      }

      &__title {
      margin: 0;
      padding: 5px 15px;
      }

      &__price {
        margin:0;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 700;
        color: #455A64;
      }

      &__description {
        margin:0;
        padding: 15px;

      }
      
  }