.Product {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    border-radius: 10px;


    img {
        height: 180px;
        width: 100%;
        object-fit: cover;
        display: flex;
        flex-direction: column;
      }

      h4, p {
        padding: 5px 10px;
      }
  }